.formulario{
    width: 90%;
    margin: auto;
    /* margin-top: 150px; */
    margin-bottom: 250px;

    
    
}

.Login2{
    background-color: rgba(0, 0, 0, 0.577);
    width: 40%;
    margin: auto;
}

/* .mb-3{
    padding-top: 50px;
} */

.bton{
    display: flex;
    flex-direction: column;
}

.btn{
    width: 35%;
    font-family: 'Courier New', Courier, monospace;
}

label{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.Login{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 50px;
    
}

.alert-primary,
.alert-danger{
    margin: auto;
}